[Desktop Entry]
Type=Application
Name=VideoMorph
GenericName=Video Converter
GenericName[es]=Convertidor de Video
Comment=Video Converter based on ffmpeg, Python 3 and PyQt5.
Comment[es]=Convertidor de Video basado en ffmpeg, Python 3 y PyQt5.
Exec=videomorph
Icon=videomorph
Terminal=false
StartupNotify=false
Categories=Qt;KDE;AudioVideo;Video;
