[run]
source = videomorph
branch = true
omit =
    videomorph/__main__.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    raise utils\.Unreachable
    if __name__ == ["']__main__["']:

[xml]
output=coverage.xml
