Package: videomorph
Version: 1.4
Architecture: all
Maintainer: VideoMorph Development Team <lpozor78@gmail.com>
Installed-Size: 4589.23
Section: video
Priority: optional
Depends: ffmpeg, python3-pyqt5, python3 (>=3.4)
Homepage: https://github.com/videomorph-dev/videomorph
Description: Video Converter based on ffmpeg, Python 3 and PyQt5.
 Unlike other video converters, VideoMorph focuses on a single goal:
 make video conversion simple, with an easy to use GUI and allowing
 the user to convert to the currently most popular video formats.
 .
 VideoMorph GUI is simple and clean, focused on usability, removing
 annoying options rarely used.
 VideoMorph is a video converter, just that. If you want a video editor,
 VideoMorph isn't for you.

