Package: videomorph
Version: 1.0
Architecture: all
Maintainer: VideoMorph Development Team <codeshard@openmailbox.org>
Installed-Size: 2106
Section: video
Priority: optional
Depends: ffmpeg | libav-tools, python3-pyqt5, python3 (>=3.4)
Homepage: https://github.com/codeshard/videomorph
Description: Small Video Converter based on ffmpeg, Python 3 and Qt5.
 Unlike other video converters, VideoMorph focuses on a single task,
 convert video, making it simple, easy to use and allowing the user choose
 from a list of popular video formats.
 .
 VideoMorph UI is simple and clean focused on usability, eliminating
 annoying options rarely used.
 Videomorph is a video converter, just that. If you want a video editor,
 VideoMorph isn't for you.

