Package: python3-videomorph
Version: 0.7
Architecture: all
Maintainer: Ozkar L. Garcell <codeshard@openmailbox.org>, Leodanis Pozo Ramos <lpozo@openmailbox.org>
Installed-Size: 1336
Section: python3
Priority: optional
Build-Depends: python3-all, debhelper (>= 7.4.3)
Depends: ffmpeg (>=2.8.10)
Homepage: https://github.com/codeshard/videomorph
Description: Small Video Converter based on ffmpeg, Python 3 and Qt5.
 Unlike other video converters, VideoMorph focuses on a single task,
 convert video, making it simple, easy to use and allowing the user choose
 from a list of popular video formats.
 VideoMorph UI is simple and clean focused on usability, eliminating annoying options rarely used.
 Videomorph is a video converter, just that. If you want a video editor,
 VideoMorph isn't for you.

